{% extends 'base.html.twig' %}
{#}ESTA PAGINA SE VERÁ EN LA RUTA / DE LA WEB{#}
{% block title %}Clientes{% endblock %}
{% block body %} 
    <h1>Clientes </h1>
    <h2>Bienvenido a la web de clientes del gimnasio.</h2>
    <p>Página de inicio</p>
{% endblock %}
