{% extends 'base.html.twig' %}
{% block title%}About{% endblock %}
{% block body%}
    <h1 class="titulo">THANK YOU</h1>
    <h4 class="titulo">Thanks for getting in touch with us</h4>
{% endblock %}  